body {
	margin: 0;
	font-size: 16px;
	line-height: 1.5em;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.1px;
	background:#fff;
	font-weight: 300
}
a:link,
a:active,
a:visited,
button {
	color: #e74c3c;
	text-decoration: none;
	transition: all 0.3s ease;
	outline:none
}
a:hover{
  color: #34495e;
}
/************ 
  PAGE TOP
*************/
#page_top {	
	border-top:3px solid #e74c3c;
	border-bottom: 1px solid #e2e6e7;
}
#page_top .container {
	width:100%;
	display:flex;
	flex-wrap:wrap
}
#page_top .block {
	width:100%;
}
@media screen and (min-width: 40em) {
	#page_top .block {
		width:50%;
	}	
}
.block-login .menu {
	padding-left:0.25rem;
	border-bottom: 1px solid #e2e6e7;
}
@media screen and (min-width: 40em) {
	.block-login .menu {
		padding:0;
		border-bottom: none;
	}	
}
.block-login .menu li{
	display:inline-block;
}
.block-login .menu li a {
	color:#e74c3c;
	text-transform:none;
	font-weight:300;
	font-size:0.8rem;
	padding-left:34px;
	transition: all ease-in-out .3s;
	background:5px 50% no-repeat;
}
.block-login .menu a:hover {
	color:#323a45;
	background:5px 50% no-repeat;
	text-decoration:underline
}
.block-login .menu .my-account a {
	background-image:url(../images/optimized/icon-user-my-account.png);		
}
.block-login .menu .log-out a {
	background-image:url(../images/optimized/icon-user-log-out.png);
}
.block-login .menu .log-in a {
	background-image:url(../images/optimized/icon-user-log-in.png);
}
.block-login .menu .create-account a {
	background-image:url(../images/optimized/icon-user-create-account.png);
}

/*
KICKSRART OVERRIDES
*/
body.toolbar #toolbar-home a span {
		background: transparent url(../logo-menu-diy.png) no-repeat 0 0;
    display: block;
    min-height: 40px;
    text-indent: -9999px;
    width: 130px;
    margin: 0;
}
/*
END OF KICKSTART
*/

/*SHOPPING CART*/
.block-top-cart {
	padding:0 0.5rem
}
.block-top-cart *,
.block-top-cart .links{
	margin:0;
	padding:0
}
.block-top-cart .line-item-quantity {
	background:url(../images/optimized/shopping-cart-2-128.png) no-repeat left;
	background-size: 30%;
	padding-left: 30px;
	margin-right:10px
}
.block-top-cart .line-item-summary{
	font-size:0.75rem
}
.block-top-cart .line-item-summary div{
	float:none;
	display:inline-block;
	margin-right:0.5rem
}
.block-top-cart .inline li {
	padding:0
}
.block-top-cart .links a {
	color:#fff;
	background:#e74c3c;
	display:inline-block;
	padding:0.5rem
}
.block-top-cart .links a:hover {
	background:#34495e
}
@media screen and (min-width: 40em) {
	#page_top .menu a {
		padding:0.6rem 0.5rem 0.5rem 32px !important;
		line-height:1.2rem;
		font-size:0.9rem
	}
	.block-top-cart .line-item-summary{
		font-size:1rem
	}
}

/* HEADER BAR */
#header {
	clear:both;
	margin:10px 0 15px 0
}
#site-name {
	font-size: 2.2em;
	line-height: 1.3em;
	font-weight: 300;
	padding: 0 0 0.5em;
	margin: 0;
}

/************ navigation *************/
#navigation {
	background :#323a45;
}
.main-menu,
.sub-menu{
	display: flex;
	flex-flow: row wrap;
	background: #323a45;
	width:100%;
}
.sub-menu{
	background:none
}
.menu a,
.sub-menu a {
	color: #fff;
	padding: 0.5rem 0.8rem;
	display: block;
	text-transform: uppercase;
	font-size:0.8rem;
	line-height:1rem
} 
@media screen and (min-width: 40em) {
	.menu a,
	.sub-menu a {
		padding: 1rem 1.5rem;
		font-size:1rem
	}
}
.menu .active a,
.menu a:hover,
.sub-menu .active a,
.sub-menu a:hover {
	background: #e74c3c;
	color:#fff
}

body .menu li {
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.25em;
}
h1 {
	font-size: 2.25em;
	font-weight: 300;
	padding: 0 0 0.5em;
	margin: 0;
}
h2 {
	font-size: 1.75em;
	font-weight: 300;
	margin: 1.5rem 0 0.8rem 0
}
h3 {
	font-size: 1.4em;
	margin: 1.5rem 0 1rem 0
}
h4 {
	font-size: 1.2em;
	margin-bottom: 0.8em;
}
h5 {
	font-size: 1.1em;
	font-weight: 600;
	margin-bottom: 0;
}
h6 {
	font-size: 1em;
	font-weight: bold;
}
p {
	margin: 0 0 1em 0;
}
a.btn,
a.btn:visited {
	background:#e74c3c;
	color:#fff;
	padding: 10px 18px;
	border-radius: 0.25rem
}
a.btn:hover {
	background:#323a45
}

ul, ol {
	margin-left: 0;
	padding-left: 0;
}
.content table {
	margin:1rem 0
}
.content table th {
	padding:0.5rem;
	vertical-align:text-top;
}
.content table td {
	padding:0.5rem;
	vertical-align:text-top;
}
.content table td {
	border-bottom:1px solid #ccc
}
table.commerce-price-formatted-components tbody {
	border-top:none;
	border-bottom:2px solid #e74c3c
}
tr.even td, tr.odd td {
	padding: 10px 5px;
}
tr.odd {
	background-color: white;
}
pre, code, tt {
	font: 1em "andale mono", "lucida console", monospace;
	line-height: 1.5;
}
pre {
	background-color: #efefef;
	display: block;
	padding: 5px;
	margin: 5px 0;
	border: 1px solid #aaaaaa;
}
ul,
li,
ul li.leaf {
	list-style:none;
	margin:0;
	padding:0
}
.node {
	margin-bottom:3.5rem
}
.node .content li {
	list-style:square;
	margin-left:1rem
}
ol {
	list-style-type: decimal;
}
ol ol {
	list-style-type: lower-alpha;
}
ol ol ol {
	list-style-type: decimal;
}
abbr {
	border-bottom: 1px dotted #666666;
	cursor: help;
	white-space: nowrap;
}
#edit-title {
	font-size: 24px;
	width: 99%;
}
#system-themes-form img {
	width: 100px;
}
.form-item .description {
	font-style: italic;
	line-height: 1.2em;
	font-size: 0.8em;
	margin-top: 5px;
	color: #777777;
}
#footer .form-item .description {
	color: #aaa;
}
#edit-delete {
	color: #cc0000;
}
iframe.video-filter{
  width: 100%;
  height:100%;
  position: absolute;
  padding: 0;
}
.video-filter{
  position: relative;
  padding-bottom: 56%;
}
video {
	width: 100%;
	height: auto
}
/*
MESSAGES
*/
div.messages {
	z-index:10000 !important ;
	margin:0.2rem
}
div.warning {
	color: #884400;
	background-color: #ffee66;
	border-color: #eedd55;
}
div.error,
.error li label{
	color: #fff ;
	background-color: #ee6633;
	border-color: #dd5522;
}
div.error a{
	color:#fff;
	text-decoration:underline
}
div.status {
	color: #336600;
	background-color: #ccff88;
	border-color: #bbee77;
}
.notice {
	background: #e95c4d;
	color:#fff;
	padding:0 1rem 0.75rem 1rem;
	border-top-left-radius:1rem;
	border-bottom-right-radius:1rem;
	margin-bottom: 1rem;
	box-sizing:border-box
}
@media screen and (min-width: 40em) {
	.notice {
		margin:0 0 2rem 2.5rem;
		width:40%;
		float:right
	}
}

/*
END - MESSAGES
*/
.current-search-item .pseudo-breadcrumb li {
	background:#f6f6f6;
	display:inline-block;
	padding:0.2rem 0.5rem;
	margin:0 0 0 0.2rem;
	font-style:italic
}
/*
BLOCKS
*/
.block .title {
	background: #323a45;
	padding: 12px 14px;
	color: #fff;
	font-weight: 100;
	font-size:18px;
	border-radius: 4px 4px 0 0
}
.block-facetapi li a{
	border-bottom: 1px solid #ecf0f1;
	display:inline-block;
	padding: 7px 25px 7px 0;
}
.profile li {
	border-radius: 4px;
	background: #f5f7f8;
	padding:1em;
	margin: 1.5em 0
}
.google-frame {
	display:block;
	height:316px;
}
.google-frame iframe{
	position:absolute;
	width:100%;
	left:0;
	height:300px
}
/*
PRODUCT DISPLAY
*/
#content-area article .grid-14,
#content-area article .grid-14 #wrap,
#content-area article .grid-14 .cloud-zoom img{
	width: 100%
}
#content-area article .cloud-zoom-gallery-thumbs {
	width:100%
}
#content-area article .cloud-zoom-gallery img{
	width:33.333%
}
.field-name-field-material-finish .form-autocomplete{
	max-width: 100%
}
/*
PRICE FIELD / s
*/

.field-commerce-price  {
	/*hide dislpay until a width field has value, or there are no mat fields*/
	display:none
}
.page-node .field-name-commerce-price .field-items{
	font-size:1.2rem;
	padding-left:22px;
	background:url(../images/optimized/icon-tag.png) no-repeat 0 0;
	background-size:contain;
	color:#fff;
	font-weight:bold;
	position:fixed;
	bottom:2px;
	right:2px;
	z-index:1000;
	max-width:50%sd
}
@media screen and (min-width: 375px) {
	.page-node .field-name-commerce-price .field-items{
		bottom: 35%;
		font-size:1.5rem
	}
}
.page-node .field-name-commerce-price .field-item{
	background-color:#e74c3c;
	padding:0.3em 0.5rem 0.4rem 12px;
	line-height:2rem;
}
.page-node .field-name-commerce-price .field-item:after{
	content: " *";
}
.page-node .field-name-field-price-markup{
	font-size:0.8rem;
	color:#e74c3c;
	font-style:italic
}
#content-area #edit-line-item-fields fieldset.collapsed.form-wrapper{
	margin-left:10px;
	border-radius:2px;
	height:2rem !important
}
#content-area #edit-line-item-fields fieldset.form-wrapper .fieldset-legend {
	background-image:none;
	background:#fff;
	padding:4px 8px;
	border:2px solid #e74c3c;
	border-radius:4px;
	display:block;
	font-weight:700;
	margin:0 0 0 -20px;
}
#content-area #edit-line-item-fields fieldset.form-wrapper .fieldset-legend:hover {
	border-color:#34495e
}
#content-area #edit-line-item-fields fieldset.collapsed.form-wrapper .fieldset-legend{
	margin-left:-10px;
}
#edit-line-item-fields .collapsed.form-wrapper{
	border:none;
	padding:0
}

@media screen and (min-width: 40em) {
	.section-products #content-area article  {
		display:flex;
		justify-content:space-between;
		flex-wrap:wrap;
	}
	.section-products #content-area article .grid-14{
		width:49%;
	}
	.section-products #content-area article .grid-8{
		width:49%
	}
}
.grid-24 {
	width:100%
}
.form-item-attributes-field-material-finish .form-radios{
	display:flex
}
.form-item-attributes-field-material-finish .form-item{
	width:5%
}
.form-item-attributes-field-material-finish img {
	width:100%;
	height:auto
}
.form-item-attributes-field-material-finish .description-selected img {
	border: 2px solid #34495e
}
.form-select {
	max-width:100%;
}
@media screen and (max-width: 40em) {
	.form-select {
		max-width:11rem;
	}
}

.field-name-field-producttypename {
	display:none
}

/*
ADD TO CART CONFIRMATION MESSAGE
*/
div.commerce_add_to_cart_confirmation_overlay {
	z-index:9999
}
div.messages.commerce-add-to-cart-confirmation {
	border:none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-moz-box-shadow: 0 2px 15px #57595a;
	-webkit-box-shadow: 0 2px 15px #57595a;
	box-shadow: 0 2px 15px #57595a;
	color: #323a45;
	overflow:visible;
	padding: 0;
	position: absolute;
	z-index: 201;
	top: 25%;
	left: 0;
	right:0;
	margin:0 auto !important;
}
@media screen and (min-width: 40em) {
	div.messages.commerce-add-to-cart-confirmation {
		width:35rem;
	}
}
div.messages.commerce-add-to-cart-confirmation .view-confirm-message-product-display {
	padding:0;
	width:60%
}
div.messages.commerce-add-to-cart-confirmation .message-inner .added-product-title {
	text-transform:none;
	color: #30B41D;
	font-size:1rem;
	text-align:left;
	padding:1rem 0;
	width:60%;	
}
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper {
	background:#323a45;
	position:absolute;
	padding:0;
	margin:0;
	width:40%;
	right:0;
	}
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button {
	margin:0;
	padding:0;
	height:50%;
	background:none;
	font-size:1.25rem;
	font-weight:bold
}
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button a,
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button .commerce-add-to-cart-confirmation-close{
	display:block;
	width:100%;
	height:100% !important; 
	padding: 22.5% 0.5rem 0 .5rem;
	opacity:0.8;
	border-radius:0
}
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.checkout a {
	background-color:#30B41D !important;
}
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button .commerce-add-to-cart-confirmation-close {
	background-color:#e74c3c !important;
}
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button a:hover {
	opacity:1;
}
div.messages.commerce-add-to-cart-confirmation .message-inner a.commerce-add-to-cart-confirmation-close {
	background:url(../images/optimized/icon-close-128.png) no-repeat 0 0;
	background-size:cover;
	display: block;
	height: 24px;
	width: 24px;
	position: absolute;
	right: -24px;
	top: -24px;
}
div.messages.commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content {
	padding:0 0.75rem
}
div.messages.commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .views-field-commerce-total {
	margin:1rem 0 0.5rem 0;
}
div.messages.commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .views-field-commerce-total span {
	margin:0.5rem 0 1rem 0;
	font-weight:bold;
	width:100%;
	font-size:1.4rem
}
.field-name-commerce-customer-shipping {
	margin-top:1rem
}
/*
END - ADD TO CART CONFIRMATION MESSAGE
*/



/*
FLEXSLIDER
*/
.flexslider  {
	border:none;
	margin:0
}	
.flex-direction-nav a {
  width: 40px;
  height: 60px;
	top:30%
}
.flex-direction-nav a:before {
	line-height:60px;
	height:60px;
	font-size:60px
}
.mat-slider .slides li {
	cursor:pointer;
	height:150px;
}
.mat-slider .slides li span {
	display:block;
	line-height:1rem;
	padding:2px;
	font-size:0.7rem;
}
.slider-item h3{
	position:relative;
	bottom:0;
	display:block;
	padding:0.2em 0.4em;
	text-align:center;
	margin:0;
	left:0;
	font-size:2rem;
	font-weight:normal;
}
.flexslider .flex-control-nav {
  width: 100%;
  position: absolute;
  top: 25px;
  text-align: center;
}
.front .field-name-body {
	position:relative;
	top:-9rem
}
/*
END OF FLEXSLIDER
*/

/*
CHECKOUT PROCESS
*/
ol.inline.commerce-checkout-progress {
	color:#000;
	margin-bottom:1rem;
}
ol.inline.commerce-checkout-progress li{
	width: auto;
	padding:0.5rem 1.5rem 0.5rem 1rem;
	box-sizing:border-box;
	background-size:contain;
}
ol.inline.commerce-checkout-progress li.active{
	background-image:url(../images/optimized/icon-checkout-arrow.png) !important;
	background-repeat:no-repeat;
	background-position:right;
	background-color:#e74c3c;
 	color:#fff;
	font-size:1.1em;
	border:none;
}
ol.inline.commerce-checkout-progress li.first{
	background-image:none
}
#content-area fieldset.form-wrapper {
	margin-top:1.5rem;
	padding:1rem
}
#content-area fieldset.form-wrapper .fieldset-legend {
	color:#e74c3c;
	margin:0.5rem
}
fieldset.checkout-buttons {
	border: none;
	margin:2rem 0 0 0
}
fieldset.checkout-buttons .button-operator {
	margin:0 0.5em
}
/*
END - CHECKOUT PROCESS
*/

/***
FOOTER
***/
#footer {
	clear:both;
	color:#bdc3c7;
	background: linear-gradient(to bottom right, #3B4552, #323A45);
	padding: 0 0 45px 0;
}
#footer .nolink {
	color: #f9f9f9;
	font-size:1.2em;
	font-weight:300
}
.block-payments ul{
	margin:25px 0 0 0;
	display:flex;
	justify-content:flex-end
}
.block-payments li{
	margin-right:0.5rem
}
.block-payments img {
	width:64px
}
.block-webform {
	padding:1rem
}
.block-webform .title {
	background-color:none;
	border-radius:0;
	padding:0 0 0 4.5rem;
	margin-bottom:0;
	display:inline-block;
	font-weight:500;
	font-size:1.75rem;
	line-height:3rem;
	background:url(../images/optimized/icon-email.png) no-repeat;
	background-size:contain
}

@media screen and (min-width: 40em) {
	.block-webform .form-item{
		float:left;
		width:50%;
	}
	.block-webform .webform-component-textfield {
		padding-right:1rem
	}
	.block-webform .webform-component-textarea{
		float:none;
		width:100%;
	}
}

/***
END - FOOTER
***/

/*
AJAX PROGRESS THROBBER OVERRIDE
*/
.ajax-progress {
  display: inline-block;
	position:relative;
	padding:0 0 0 6px
}
.ajax-progress .throbber,
#content .checkout-processing  {
  background-image:url(../images/optimized/throbber_13.gif);
	background-repeat:no-repeat;
	background-size:cover;
	position:absolute;
	left:-2px;
	top:-2px;
	display:block;
  height: 24px;
  width: 24px;
}
.how-to img {
	max-width:100%;
	height:auto;
	margin-bottom:1rem
}

/*
BOOKS
*/
.book-navigation .menu {
	padding:0;
}
.block-book .menu li {
	padding: 0 0 0 0.5rem;
	margin: 0
}
.block-book .menu li.collapsed > a::before,
.block-book .menu li.expanded > a::before {
	margin-left: -1rem;
	display:inline-block;
	boder:1px solid #ff0000;
	width: 1rem
}
.block-book .menu li.expanded > a::before {
	content: "-";
}
.block-book .menu li.collapsed > a::before {
	content: "+";
}
.book-navigation a,
.block-book a{
	text-transform:none;
	color: #e74c3c;
	font-weight:bold;
	padding:0.5rem 0.75rem
}
.block-book .menu a.active {
	color:#666
}
.book-navigation a:hover,
.block-book a:hover{
  color: #34495e;
	background:none
}
/*
*
* COLORBOX
*
*
*/
.colorbox-mat{
	background: #323a45;
	box-sizing:border-box;
	padding:0 0 0 0.5rem;
	color:#fff
}
.colorbox-mat .view-content {
	display:flex;
	flex-wrap:wrap;
	padding-top:0.25rem
}
.colorbox-mat .colorbox-mat-row{
	width: 50%;
	box-sizing:border-box;
	padding:0 0.5rem 0.75rem 0
}
@media screen and (min-width: 40em) {
	.colorbox-mat .colorbox-mat-row{
		width: 20%;
	}
}
.colorbox-mat-row-item {
	cursor:pointer
}
.colorbox-mat-row-item img{
	width:100%;
	height:auto
}
.colorbox-mat-row-item span{
	display:block;
	font-size:0.8rem;
	line-height:0.8rem;
}
