@charset "UTF-8";
/*
 |--------------------------------------------------------------------------
 | Base
 |--------------------------------------------------------------------------
*/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: #4a4a4a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5em;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1px;
  background: #fff;
  font-weight: 300;
  overflow-x: hidden;
}

a:link,
a:active,
a:visited,
button {
  color: #e74c3c;
  text-decoration: none;
  transition: all 0.3s ease;
  outline: none;
}

a:hover {
  color: #34495e;
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

/*
 |--------------------------------------------------------------------------
 | Typography
 |--------------------------------------------------------------------------
*/
/* ==========================================================================
   Typography
   ========================================================================== */
h1 {
  font-size: 2.25em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

h2 {
  font-size: 1.75em;
  font-weight: 300;
  margin: 1.5rem 0 0.8rem 0;
  line-height: normal;
}

h3 {
  font-size: 1.4em;
  margin: 1.5rem 0 1rem 0;
}

h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

p {
  margin: 0 0 1em 0;
}

ul,
ol {
  margin-left: 0;
  padding-left: 0;
}

ul,
li,
ul li.leaf {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: decimal;
}

ol ol {
  list-style-type: lower-alpha;
}

ol ol ol {
  list-style-type: decimal;
}

.content li {
  list-style: square;
  margin-left: 1rem;
}

abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

a.btn,
a.btn:visited {
  background: #e74c3c;
  color: #fff;
  padding: 10px 18px;
  border-radius: 0.25rem;
}

a.btn:hover,
a.btn:visited:hover {
  background: #3b536b;
}

a.btn-sm {
  padding: 0.25rem;
}

a.btn-lg {
  font-size: 1.25rem;
  padding: 1rem 2rem;
  display: inline-block;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "“" "”" "‘" "’";
}

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
fieldset {
  border: 2px solid #e4e4e2;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 |--------------------------------------------------------------------------
 | Layout
 |--------------------------------------------------------------------------
*/
.container {
  max-width: 78rem;
  margin: 0 auto;
  width: auto;
}

#content {
  padding: 0 1rem;
  min-height: 20rem;
}

.container-24 {
  margin-bottom: 1rem;
}

@media screen and (min-width: 720px) {
  .container-24 {
    margin-bottom: 2rem;
  }
  .no-sidebars #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 100%;
  }
  .no-sidebars #content:last-child {
    margin-right: 0;
  }
  .flex-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .col-4 {
    width: 24%;
    margin: 0 1% 1% 0;
  }
}

@media screen and (min-width: 960px) {
  .no-sidebars #content {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 100%;
  }
  .no-sidebars #content:last-child {
    margin-right: 0;
  }
}

.no-sidebars #content {
  width: 100%;
}

.one-sidebar.sidebar-second #content {
  width: 100%;
}

@media screen and (min-width: 720px) {
  .one-sidebar.sidebar-second #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 74.19355%;
  }
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 960px) {
  .one-sidebar.sidebar-second #content {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 65.95745%;
  }
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0;
  }
}

.one-sidebar.sidebar-first #content {
  width: 100%;
}

@media screen and (min-width: 720px) {
  .one-sidebar.sidebar-first #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 74.19355%;
    margin-left: 25.80645%;
  }
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 960px) {
  .one-sidebar.sidebar-first #content {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 74.46809%;
    margin-left: 25.53191%;
  }
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0;
  }
}

.two-sidebars #content {
  width: 100%;
}

@media screen and (min-width: 720px) {
  .two-sidebars #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 48.3871%;
    margin-left: 25.80645%;
  }
  .two-sidebars #content:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 960px) {
  .two-sidebars #content {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 40.42553%;
    margin-left: 25.53191%;
  }
  .two-sidebars #content:last-child {
    margin-right: 0;
  }
}

#sidebar-first {
  width: 100%;
}

@media screen and (min-width: 720px) {
  #sidebar-first {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 22.58065%;
    margin-left: -77.41935%;
    padding-top: 1rem;
  }
  #sidebar-first:last-child {
    margin-right: 0;
  }
  #sidebar-first #sidebar-first {
    margin-left: -103.22581%;
  }
}

@media screen and (min-width: 960px) {
  #sidebar-first {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 23.40426%;
    margin-left: -68.08511%;
  }
  #sidebar-first:last-child {
    margin-right: 0;
  }
  #sidebar-first #sidebar-first {
    margin-left: -102.12766%;
  }
}

#sidebar-second {
  width: 100%;
}

@media screen and (min-width: 720px) {
  #sidebar-second {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 22.58065%;
    margin-left: 0%;
    padding-top: 1rem;
  }
  #sidebar-second:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 960px) {
  #sidebar-second {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 31.91489%;
    margin-left: 0%;
  }
  #sidebar-second:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 720px) {
  .section-products #content-area article {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .section-products #content-area article .grid-14 {
    width: 49%;
  }
  .section-products #content-area article .grid-8 {
    width: 49%;
  }
}

.grid-24 {
  width: 100%;
}

/*
 |--------------------------------------------------------------------------
 | Header
 |--------------------------------------------------------------------------
*/
#header {
  background: #fff;
}

.header-first .cabtek-menu ul {
  display: flex;
  flex-wrap: wrap;
  background: #323a45;
  width: 100%;
  padding-bottom: 4px;
}

.header-first .cabtek-menu ul li {
  padding: 0;
  margin: 4px 0 0 4px;
  list-style: none;
}

.header-first .cabtek-menu ul a {
  color: #fff;
  background: #34495e;
  padding: 0.2rem 0.5rem;
  display: block;
  border-radius: 4px;
}

.header-first .cabtek-menu ul a:hover {
  background: #e74c3c;
}

.header-second {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.header-second .block-login .menu {
  border-bottom: none;
  display: flex;
}

@media screen and (max-width: 720px) {
  .header-second .block-login .menu {
    padding-left: 0;
  }
}

.header-second .block-login .menu li {
  list-style: none;
}

.header-second .block-login .menu li a {
  font-weight: bold;
  text-transform: none;
  display: block;
  padding: 0.5rem;
  font-size: 0.85rem;
  text-decoration: underline;
}

.header-second .block-login .menu li a:hover {
  text-decoration: none;
}

.header-second .block-telephone p {
  background: #e74c3c;
  color: #eee;
  margin: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 24px rgba(0, 0, 0, 0.5);
}

.header-second .block-telephone p span {
  font-size: 1.25rem;
  margin: 0 0.25rem;
  display: inline-block;
}

.header-second .block-telephone p a {
  color: #fff;
  font-weight: bold;
  padding: 0.25rem;
}

.header-second .block-telephone p a:hover {
  text-decoration: underline;
}

.header-second .block-top-cart {
  padding: 0.25rem;
  line-height: 2rem;
}

.header-second .block-top-cart * {
  margin: 0;
}

.header-second .block-top-cart .view-footer {
  display: flex;
  justify-content: flex-end;
}

.header-second .block-top-cart .line-item-quantity {
  margin-right: 0.25rem;
}

.header-second .block-top-cart .line-item-quantity .line-item-quantity-raw {
  font-weight: bold;
}

.header-second .block-top-cart .line-item-summary {
  display: flex;
}

.header-second .block-top-cart .line-item-summary .line-item-total {
  margin-right: 1rem;
}

.header-second .block-top-cart .line-item-summary .links {
  display: flex;
}

.header-second .block-top-cart a {
  color: #fff;
  background: #e74c3c url(../images/optimized/shopping-cart-64.png) no-repeat right 0.5rem center;
  background-size: 1.5rem;
  display: block;
  padding: 0.25rem 2.25rem 0.25rem 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  text-align: center;
  border-radius: 4px;
}

.header-second .block-top-cart a:hover {
  background-color: #34495e;
}

.header-third {
  width: 100%;
  padding: 0.25rem 0.5rem 0.35rem 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-third #logo {
  margin: 0.25rem;
}

.header-third .search-top {
  flex: 1 1 auto;
}

.header-third .search-top .views-exposed-widgets {
  display: flex;
  font-size: 1.25rem;
}

.header-third .search-top .views-exposed-widgets .views-exposed-widget {
  padding: 0.5rem 0 0 0.5rem;
}

.header-third .search-top .views-exposed-widgets .form-submit {
  margin: 0 !important;
}

.header-third .search-top .views-exposed-widgets #edit-search-api-views-fulltext-wrapper,
.header-third .search-top .views-exposed-widgets .form-text {
  width: 100%;
}

#navigation {
  background: #323a45;
  margin-top: 0.5rem;
  display: block;
  height: 3rem;
}

#navigation li {
  z-index: 500;
}

#navigation li .menuparent {
  padding: 0.25rem 1.5rem 0.25rem 1rem;
}

#navigation a {
  background: #323a45;
  color: #fff;
  padding: 0.25rem 1rem;
  display: block;
  line-height: 2.5rem;
}

#navigation a:hover {
  background: #e74c3c;
}

#navigation a .sf-sub-indicator {
  right: 0.5rem;
  top: 1.1rem;
}

#navigation ul {
  text-transform: uppercase;
}

#navigation ul li {
  list-style: none;
}

#navigation ul ul {
  text-transform: none;
  top: 3rem;
}

#navigation ul ul a {
  border-top: 1px solid #3b4452;
  padding: 0 1rem;
}

.sf-accordion-toggle a {
  font-weight: bold;
  font-size: 2rem;
}

#page_top {
  border-top: 3px solid #e74c3c;
  border-bottom: 1px solid #e2e6e7;
}

#page_top .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#page_top .block {
  width: 100%;
}

body.toolbar #toolbar-home a span {
  background: transparent url(../logo-menu-diy.png) no-repeat 0 0;
  display: block;
  min-height: 40px;
  text-indent: -9999px;
  width: 130px;
  margin: 0;
}

/*
 |--------------------------------------------------------------------------
 | Views
 |--------------------------------------------------------------------------
*/
.view-commerce-message-messages {
  margin: 1em 0;
}

.view .pager {
  margin: 2rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view .pager li {
  margin: 0 0.25rem;
  padding: 0;
}

.view .pager li a {
  display: block;
  padding: 0.25rem 0.75rem;
  font-weight: bold;
  border-radius: 0.25rem;
  border: 2px solid #fff;
}

.view .pager li a:hover {
  border-color: #e74c3c;
  color: #e74c3c;
}

.view .pager li .pager-first,
.view .pager li .pager-last {
  display: none;
}

.view .pager .pager-current {
  margin: 0 0.75rem;
}

.view .pager .pager-previous a,
.view .pager .pager-next a {
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: center;
  height: 2rem;
  width: 2rem;
}

.view .pager .pager-previous a {
  background-image: url(../images/optimized/pager-left.png);
}

.view .pager .pager-next a {
  background-image: url(../images/optimized/pager-right.png);
}

/*
  CART VIEWS
  */
.view-commerce-cart-form .views-field-nothing img {
  height: 3.25rem;
  float: left;
  margin: 0 0.25rem 0.2rem 0;
  width: auto;
  border: 1px solid #f7f7f7;
}

.view-commerce-cart-form .views-field-nothing span {
  font-size: 0.85rem;
  background: #f7f7f7;
  float: left;
  padding: 0 0.25rem;
  margin: 0 0.2rem 0.2rem 0;
}

.view-commerce-cart-form .cart-footer {
  padding-left: 4rem;
  margin-top: 1rem;
  font-size: 0.9rem;
  background: url(../images/optimized/icon-warning.png) no-repeat left top;
  background-size: 3rem;
}

/*
PRODUCTS AND ALL PRODUCTS VIEWS
*/
.view-collection-products {
  clear: right;
}

.view-collection-products .view-content h3 {
  display: none;
}

.product-view .view-content {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.product-view-item {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.12);
  border: 1px solid #ddd;
  box-sizing: border-box;
  margin: 0 0.2em 0.5em 0.2rem;
  transition: all 0.2s ease-in-out;
  background: #fff;
  width: 47.5%;
}

.product-view-item img {
  width: 100%;
  height: auto;
}

.product-view-item img * {
  margin: 0;
  padding: 0;
}

.product-view-item article {
  height: 100%;
}

.product-view-item article > div {
  padding: 1.5rem 1rem 0.5rem 1rem;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

.product-view-item article .field-name-field-product-category {
  position: absolute;
  top: 0;
  right: 0;
}

.node-156-product-commerce-price-wrapper {
  margin-top: auto;
}

.field-name-field-product-category {
  font-size: 0.7rem;
  float: right;
}

.field-name-field-product-category .field-item {
  display: inline-block;
  background: #f6f6f6;
  color: #666;
  padding: 0 0.3rem;
  margin-left: 0.5rem;
}

.product-view-item h2 {
  font-size: 1.2rem;
}

@media screen and (min-width: 45em) {
  .product-view-item {
    width: 24%;
  }
  .product-view-item h2 {
    font-size: 1.3rem;
  }
  .product-view-item:hover, .product-view-item:focus {
    transform: scale(1.05);
  }
}

/*
VIEW MATERIALS
*/
.view-materials .view-content {
  display: flex;
  flex-wrap: wrap;
}

.view-materials .view-content div {
  width: 50%;
  flex: 0 1 auto;
  transition: all 0.3s ease;
  font-size: 0.8rem;
  border: 2px solid #fff;
  background: #fff;
}

.view-materials .view-content div:hover {
  transform: scale(1.1);
  z-index: 100;
  font-size: 105%;
}

.view-materials .view-content div a {
  display: block;
  position: relative;
}

.view-materials .view-content div a img {
  width: 100%;
  height: auto;
  display: block;
}

.view-materials .view-content div img {
  width: 100%;
  height: 100%;
}

.view-materials .view-content span {
  line-height: 1.25rem;
  padding: 0 0.25rem;
  display: block;
  height: 4rem;
}

.view-materials .view-content span em {
  font-weight: normal;
}

@media screen and (min-width: 45em) {
  .view-materials .view-content div {
    width: 20%;
    font-size: 0.9rem;
  }
}

.colorbox-mat {
  background: #323a45;
  box-sizing: border-box;
  padding: 0 0 0 0.5rem;
  color: #fff;
}

.colorbox-mat .view-content {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.25rem;
}

.colorbox-mat .colorbox-mat-row {
  width: 50%;
  box-sizing: border-box;
  padding: 0 0.5rem 0.75rem 0;
}

.colorbox-mat .colorbox-mat-row .colorbox-mat-row-item {
  cursor: pointer;
}

.colorbox-mat .colorbox-mat-row .colorbox-mat-row-item img {
  width: 100%;
  height: auto;
}

.colorbox-mat .colorbox-mat-row .colorbox-mat-row-item span {
  display: block;
  font-size: 0.8rem;
  line-height: 0.8rem;
}

@media screen and (min-width: 40em) {
  .colorbox-mat .colorbox-mat-row {
    width: 20%;
  }
}

.grid-item {
  background-image: linear-gradient(-45deg, #323a45, #3b4552);
  padding: 0 1rem 1rem 1rem;
  color: #fff;
}

.view-testimonials {
  padding: 3rem 0 6rem 0;
  text-align: center;
}

.view-testimonials p {
  font-size: 1.25rem;
  line-height: 2rem;
  margin: 1rem 3rem;
}

.view-testimonials p span {
  color: #ccc;
  margin: 0 0.5rem;
}

.view-testimonials .flexslider .flex-direction-nav .flex-prev {
  left: -2rem;
}

.view-testimonials .flexslider .flex-direction-nav .flex-next {
  right: -2rem;
}

.view-testimonials .flexslider .flex-control-nav {
  bottom: -3rem;
}

/*
 |--------------------------------------------------------------------------
 | Forms
 |--------------------------------------------------------------------------
*/
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
  padding: 9px 10px;
}

input,
select,
textarea {
  line-height: normal;
  border: 2px solid #e4e4e2;
  background: #f5f7f8;
  border-radius: 4px;
  font-size: 1em;
  transition: all 0.3s ease;
  max-width: 100%;
}

input:focus,
textarea:focus {
  border-color: #f55240;
}

button,
select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

.container .form-submit,
.checkout-buttons .checkout-cancel,
.checkout-buttons .checkout-back,
.comment ul.links li a,
.addressbook-links a,
.login-register {
  background: #e74c3c;
  color: #fff !important;
  padding: 10px 18px !important;
  border: none;
  transition: all 0.3s ease;
  font-weight: 300;
  border-radius: 4px;
}

.checkout-buttons .checkout-continue.form-submit {
  margin-bottom: 0.5rem;
}

.form-submit:hover,
.checkout-buttons .checkout-cancel:hover,
.checkout-buttons .checkout-back:hover,
.comment ul.links li a:hover,
.addressbook-links a:hover,
.login-register:hover {
  background: #34495e;
  color: #fff;
  text-decoration: none;
}

.addressbook-links a {
  padding: 0.25rem 0.5rem;
  display: inline-block;
}

#edit-submit.form-submit {
  margin-right: 0.5rem;
}

fieldset.commerce_payment.form-wrapper legend {
  font-size: 1.5rem;
}

fieldset.commerce_payment.form-wrapper {
  background-image: url(../images/optimized/logo-eway.png);
  background-repeat: no-repeat;
  background-position: bottom 8px right 8px;
  background-size: 50%;
  min-height: 326px;
}

fieldset.commerce_payment.form-wrapper
.form-item-commerce-payment-payment-method {
  /* display: none */
}

.comments .comment {
  display: block;
  margin: 1rem 0;
  background: #f6f6f6;
  padding: 0.5rem 1rem 0.8rem 0.8rem;
}

.comments .submitted {
  font-style: italic;
  font-size: 0.8rem;
}

.comment-wrapper .indented {
  border-left: 0.5rem solid #ddd;
}

.comment ul.links li {
  padding: 0;
}

#commerce-checkout-form-checkout .field-name-field-telephone .form-text {
  max-width: 320px;
}

.comment ul.links li a {
  padding: 0.1rem 1rem;
  line-height: 2rem;
  display: inline-block;
  margin: 0.25rem 0 0 0;
}

div.grippie {
  display: none !important;
}

#user-register-form .form-submit .back-to-login,
#user-register-form #user-register-form .back-to-login {
  display: inline;
}

.create-account {
  margin-bottom: 3rem;
}

.create-account a.login-register {
  margin-top: 1rem;
  display: inline-block;
}

#google_recaptcha_user_register_form,
#google_recaptcha_webform_client_form_25 {
  margin: 1rem 0;
}

#edit-title {
  font-size: 24px;
  width: 99%;
}

#system-themes-form img {
  width: 100px;
}

.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777;
}

#footer .form-item .description {
  color: #aaa;
}

#edit-delete {
  color: #cc0000;
}

.form-select {
  max-width: 100%;
}

.form-item-attributes-field-material-finish .form-radios {
  display: flex;
}

.form-item-attributes-field-material-finish .form-item {
  width: 5%;
}

.form-item-attributes-field-material-finish img {
  width: 100%;
  height: auto;
}

#user_login_form {
  margin-top: 3rem;
}

/*
 |--------------------------------------------------------------------------
 | Elements
 |--------------------------------------------------------------------------
*/
/*
CRUMBS
*/
.breadcrumb {
  font-size: 0.75rem;
  color: #aaa;
  margin-top: 0.5rem;
}

/*
TABS
*/
div.tabs {
  margin: 1rem 0 0.25rem 0;
}

div.tabs ul.tabs {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
}

div.tabs ul.tabs li {
  border: none;
  font-size: 16px;
}

div.tabs ul.tabs li a {
  color: #222222;
  padding: 0.7em 1em;
  display: block;
  background-color: #ecf0f1;
  margin-right: 5px;
  border-radius: 4px 4px 0 0;
  border: none;
}

div.tabs ul.tabs li a:hover {
  background-color: #34495e;
  color: #fff;
}

div.tabs ul.tabs li .active {
  background: #34495e;
  color: #fff;
}

div.tabs ul.tabs.secondary {
  margin-top: 4px;
}

div.tabs ul.tabs.secondary li a {
  font-size: 14px;
}

.action-links {
  margin: 0.5rem 0;
  display: flex;
}

.action-links li a {
  background: #e74c3c;
  color: #fff;
  box-shadow: 0 2px 0 #c0392b;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  margin-right: 0.2rem;
  display: inline-block;
}

/*
EVENT SLIDER
*/
.item-list .event-slider li {
  padding: 0;
  margin: 0;
}

.item-list .event-slider img {
  width: 100%;
  height: auto;
}

/*
  END - EVENT SLIDERS
*/
.addressbook-links {
  margin: 1rem 0 3rem 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  overflow: auto;
  margin-bottom: 2rem;
}

table tr td {
  padding: 10px 5px;
  background: #fff;
}

.content table {
  margin: 1rem 0;
}

.content table th {
  padding: 0.5rem;
  vertical-align: text-top;
}

.content table td {
  padding: 0.5rem;
  vertical-align: text-top;
  border-bottom: 1px solid #ccc;
}

table.commerce-price-formatted-components tbody {
  border-top: none;
  border-bottom: 2px solid #e74c3c;
}

.views-table.cols-6 td {
  vertical-align: middle;
}

.ajax-progress {
  display: inline-block;
  position: relative;
  padding: 0 0 0 6px;
}

.ajax-progress .throbber,
#content .checkout-processing {
  background-image: url(../images/optimized/throbber_13.gif);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: -2px;
  top: -2px;
  display: block;
  height: 24px;
  width: 24px;
}

.how-to img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.field-name-field-int-mat-select .btn {
  background: #fff;
  color: #323a45;
  padding: 9px 17px;
  border: 1px solid #323a45 !important;
}

.field-name-field-int-mat-select .btn:hover {
  background: #323a45;
  color: #fff;
}

.book-block .menu {
  padding: 0 0 0 1rem;
  margin: 0.5rem 0;
  font-size: 1.25rem;
}

.book-block .menu li {
  padding: 0 0 0.5rem 0.5rem;
  line-height: 1.75rem;
  margin: 0;
  list-style: none;
}

.book-block .menu li li {
  font-size: 0.8em;
}

.book-block .menu li a {
  text-transform: none;
  color: #e74c3c;
  font-weight: bold;
}

.book-block .menu li a:hover {
  color: #34495e;
}

.book-block .menu .expanded > a::before {
  margin-left: -1rem;
  display: inline-block;
  width: 1rem;
  content: "-";
}

.book-block .menu .collapsed > a::before {
  margin-left: -1rem;
  display: inline-block;
  width: 1rem;
  content: "+";
}

iframe.video-filter {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
}

.video-filter {
  position: relative;
  padding-bottom: 56%;
}

video {
  width: 100%;
  height: auto;
}

div.messages {
  z-index: 10000 !important;
  margin: 1rem 0;
}

div.warning {
  color: #884400;
  background-color: #ffee66;
  border-color: #eedd55;
}

div.error,
.error li label {
  color: #fff;
  background-color: #ee6633;
  border-color: #dd5522;
  font-weight: bold;
}

div.error a {
  color: #fff;
  text-decoration: underline;
}

div.status {
  color: #336600;
  background-color: #ccff88;
  border-color: #bbee77;
}

.notice {
  background: #e95c4d;
  color: #fff;
  padding: 1px 1rem 0.75rem 1rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

@media screen and (min-width: 40em) {
  .notice {
    margin: 0 0 2rem 2.5rem;
    width: 40%;
    float: right;
  }
}

.current-search-item .pseudo-breadcrumb li {
  background: #f6f6f6;
  display: inline-block;
  padding: 0.2rem 0.5rem;
  margin: 0 0 0 0.2rem;
  font-style: italic;
}

.block .title {
  background: #323a45;
  padding: 12px 14px;
  color: #fff;
  font-weight: 100;
  font-size: 1.5rem;
  border-radius: 4px 4px 0 0;
}

.block-facetapi li a {
  border-bottom: 1px solid #ecf0f1;
  display: inline-block;
  padding: 7px 25px 7px 0;
}

.profile li {
  border-radius: 4px;
  background: #f5f7f8;
  padding: 1em;
  margin: 1.5em 0;
}

.google-frame {
  display: block;
  height: 316px;
}

.google-frame iframe {
  position: absolute;
  width: 100%;
  left: 0;
  height: 300px;
}

#content-area article .grid-14,
#content-area article .grid-14 #wrap,
#content-area article .grid-14 .cloud-zoom img,
#content-area article .cloud-zoom-gallery-thumbs {
  width: 100%;
}

#content-area article .cloud-zoom-gallery img {
  width: 33.333%;
}

.field-name-field-material-finish .form-autocomplete {
  max-width: 100%;
}

.field-commerce-price {
  /*hide dislpay until a width field has value, or there are no mat fields*/
  display: none;
}

.page-node .field-name-commerce-price .field-items {
  font-size: 1.2rem;
  padding-left: 22px;
  background: url(../images/optimized/icon-tag.png) no-repeat 0 0;
  background-size: contain;
  color: #fff;
  font-weight: bold;
  position: fixed;
  bottom: 2px;
  right: 2px;
  z-index: 1000;
  max-width: 50%sd;
}

@media screen and (min-width: 375px) {
  .page-node .field-name-commerce-price .field-items {
    bottom: 35%;
    font-size: 1.5rem;
  }
}

.page-node .field-name-commerce-price .field-item {
  background-color: #e74c3c;
  padding: 0.3em 0.5rem 0.4rem 12px;
  line-height: 2rem;
}

.page-node .field-name-commerce-price .field-item:after {
  content: " *";
}

.page-node .field-name-field-price-markup {
  font-size: 0.8rem;
  color: #e74c3c;
  font-style: italic;
}

#content-area #edit-line-item-fields fieldset .collapsed.form-wrapper {
  margin-left: 10px;
  border: none;
  padding: 0;
  height: 2rem !important;
}

#content-area #edit-line-item-fields fieldset .collapsed.form-wrapper .fieldset-legend {
  background-image: none;
  background: #fff;
  padding: 4px 8px;
  border: 2px solid #e4e4e2;
  border-radius: 4px;
  display: block;
  font-weight: 700;
  margin: 0 0 0 -10px;
}

.group-hinge-positions {
  padding-top: 0.5rem !important;
}

.group-hinge-positions .fieldset-legend {
  margin: 0 !important;
}

.field-name-field-ez-hinge-category,
.field-name-field-ez-category-text,
.field-name-field-ez-hinge-text {
  display: none;
}

div.messages.commerce-add-to-cart-confirmation {
  border: none;
  color: #4a4a4a;
}

div.messages.commerce-add-to-cart-confirmation .message-inner .added-product-title {
  text-transform: none;
  color: #4a4a4a;
  font-size: 1.75rem;
  text-align: left;
  padding: 2rem 0 1rem 1rem;
}

div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper {
  font-size: 1.25rem;
  background: #eee;
}

div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.checkout a {
  background: #e74c3c;
}

div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.checkout a:hover {
  background: #f55240;
}

div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.continue a {
  background: #323a45 !important;
}

div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.continue a:hover {
  background: #3b4552 !important;
}

.field-name-commerce-customer-shipping {
  margin-top: 1rem;
}

/*
FLEXSLIDER
*/
.flexslider {
  border: none;
  margin: 0;
}

.flexslider .flex-direction-nav a {
  width: 40px;
  height: 60px;
  top: 50%;
}

.flexslider .flex-direction-nav a:before {
  line-height: 60px;
  height: 60px;
  font-size: 60px;
}

.flexslider .flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 25px;
  text-align: center;
}

.mat-slider .flex-direction-nav a {
  top: 30%;
}

.mat-slider .slides li {
  cursor: pointer;
  height: 150px;
}

.mat-slider .slides li span {
  display: block;
  line-height: 1rem;
  padding: 2px;
  font-size: 0.7rem;
}

.slider-item h3 {
  position: relative;
  bottom: 0;
  display: block;
  padding: 0.2em 0.4em;
  text-align: center;
  margin: 0;
  left: 0;
  font-size: 2rem;
  font-weight: normal;
}

#colorbox #cboxWrapper {
  border: none;
  background: none;
}

#colorbox #cboxWrapper #cboxContent {
  background: none;
}

#colorbox #cboxWrapper #cboxContent #cboxTopLeft,
#colorbox #cboxWrapper #cboxContent #cboxTopCenter,
#colorbox #cboxWrapper #cboxContent #cboxTopRight,
#colorbox #cboxWrapper #cboxContent #cboxMiddleLeft,
#colorbox #cboxWrapper #cboxContent #cboxMiddleRight,
#colorbox #cboxWrapper #cboxContent #cboxBottomLeft,
#colorbox #cboxWrapper #cboxContent #cboxBottomCenter,
#colorbox #cboxWrapper #cboxContent #cboxBottomRight,
#colorbox #cboxWrapper #cboxContent #cboxCurrent {
  display: none !important;
}

#colorbox #cboxWrapper #cboxContent #cboxLoadedContent {
  background: none;
  position: relative;
}

#colorbox #cboxWrapper #cboxContent #cboxLoadedContent img.cboxPhoto {
  border-radius: 4px;
}

#colorbox #cboxWrapper #cboxContent #cboxPrevious,
#colorbox #cboxWrapper #cboxContent #cboxNext {
  width: 32px;
  height: 32px;
  bottom: 40px;
  background: url(../images/optimized/icon_nav_left.png) no-repeat;
  background-size: cover;
  opacity: 0.5;
}

#colorbox #cboxWrapper #cboxContent #cboxPrevious:hover,
#colorbox #cboxWrapper #cboxContent #cboxNext:hover {
  opacity: 1;
}

#colorbox #cboxWrapper #cboxContent #cboxNext {
  background-image: url(../images/optimized/icon_nav_right.png);
  left: auto;
  right: 0;
}

#colorbox #cboxWrapper #cboxContent #cboxClose {
  top: 4px;
  right: 4px;
  width: 32px;
  height: 32px;
  background: url(../images/optimized/icon-close-128.png) no-repeat;
  background-size: contain;
  opacity: 0.5;
}

#colorbox #cboxWrapper #cboxContent #cboxClose:hover {
  opacity: 1;
}

.field-name-field-gallery-image .field-items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.field-name-field-gallery-image .field-items .field-item {
  flex: 1 1 auto;
  padding: 0.25rem;
  opacity: 0.85;
  transition: all ease 0.2s;
}

.field-name-field-gallery-image .field-items .field-item:hover {
  opacity: 1;
  transform: scale(1.02);
}

.field-name-field-gallery-image .field-items .field-item img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px;
}

/*
CHECKOUT PROCESS
*/
ol.inline.commerce-checkout-progress {
  color: #999;
  margin: 2rem 0 3rem 0;
}

ol.inline.commerce-checkout-progress li {
  width: auto;
  padding-bottom: 0.5rem;
  margin-right: 2rem;
}

ol.inline.commerce-checkout-progress li.active {
  color: #e74c3c;
  border-bottom: 2px solid #e74c3c;
  font-size: 1.75rem;
  font-style: italic;
}

#content-area fieldset.form-wrapper {
  margin-top: 1.5rem;
  padding: 1rem;
}

#content-area fieldset.form-wrapper .fieldset-legend {
  color: #e74c3c;
  margin: 0.5rem;
}

.page-checkout .fieldset-legend {
  font-size: 2rem;
}

fieldset.checkout-buttons {
  border: none;
  margin: 2rem 0 0 0;
}

fieldset.checkout-buttons .button-operator {
  margin: 0 0.5em;
}

.checkout-help {
  color: #999;
  font-weight: bold;
  font-style: italic;
  line-height: 3rem;
}

/*
END - CHECKOUT PROCESS
*/
.field-name-body {
  margin-bottom: 4rem;
}

.cta {
  position: fixed;
  bottom: 5vh;
  right: 2vw;
  z-index: 1000;
  border: 6px solid #e74c3c;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.cta a {
  width: 9.5rem;
  border: 4px solid #fff;
  border-radius: 2px;
  display: block;
  background: #cf4536;
  color: #fff;
}

.cta a h4 {
  margin: 0 0 0.5rem 0;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.cta a span {
  padding: 0 1rem;
  display: block;
}

.cta a span img {
  width: 90%;
  margin: 5%;
  transition: all ease 0.5s;
}

.cta a:hover {
  background: #e74c3c;
  border-color: #e74c3c;
}

@media screen and (max-width: 720px) {
  .cta {
    right: 0;
  }
  .cta a {
    width: 6rem;
  }
  .cta a h4 {
    font-size: 0.85rem;
    font-weight: normal;
  }
}

.title-hero {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background: #666;
  margin-bottom: 2.5rem;
  background: url(../images/optimized/kitchen_01.jpg) center center/cover no-repeat;
}

.title-hero h1 {
  text-align: center;
  margin: 0 auto;
  font-size: 5rem;
  padding: 5rem 1rem 6rem 1rem;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
}

.title-hero h1 :after {
  content: "";
  position: absolute;
  left: 45%;
  bottom: 2rem;
  height: 1px;
  width: 10%;
  /* or 100px */
  border-bottom: 0.5rem solid #fff;
}

.title-hero h1 span {
  color: #e74c3c;
}

.title-products {
  background-image: url(../images/optimized/heros/kitchen_01.jpg);
}

.title-how-it-works {
  background-image: url(../images/optimized/heros/kitchen_01.jpg);
}

.title-free-planner {
  background-image: url(../images/optimized/heros/kitchen_01.jpg);
}

.title-why-us {
  background-image: url(../images/optimized/heros/kitchen_01.jpg);
}

.title-gallery {
  background-image: url(../images/optimized/heros/kitchen_01.jpg);
}

.title-materials {
  background-image: url(../images/optimized/heros/kitchen_01.jpg);
}

.title-about {
  background-image: url(../images/optimized/heros/kitchen_01.jpg);
}

.title-factory {
  background-image: url(../images/optimized/heros/kitchen_01.jpg);
}

.how-works {
  display: flex;
  margin: 2rem 0;
  align-items: flex-start;
}

.how-works img {
  flex: 1 1 auto;
  width: 25%;
}

.how-works div {
  width: 75%;
  flex: 1 1 auto;
  padding: 0.5rem 0 0 2rem;
}

.how-works div h2 {
  margin-top: 0;
}

/*
 |--------------------------------------------------------------------------
 | Footer
 |--------------------------------------------------------------------------
*/
#footer {
  clear: both;
  color: #bdc3c7;
  background: linear-gradient(to bottom right, #3b4552, #323a45);
  padding: 0 0 45px 0;
}

#footer .nolink {
  color: #f9f9f9;
  font-size: 1.2em;
  font-weight: 300;
}

#footer .block-payments {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

#footer .block-payments a {
  line-height: 2rem;
  font-weight: 700;
  margin: 0 0.25rem 0 0;
  color: #fff;
  padding: 10px 18px;
  border-radius: 4px;
  border: 1px solid #fff;
}

#footer .block-payments a:hover {
  background: #34495e;
}

#footer .block-payments img {
  width: 5rem;
}

.block-webform {
  padding: 1rem;
}

.block-webform .title {
  background-color: none;
  border-radius: 0;
  padding: 0 0 0 4.5rem;
  margin-bottom: 0;
  display: inline-block;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 3rem;
  background: url(../images/optimized/icon-email.png) no-repeat;
  background-size: contain;
}

.block-webform form > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.block-webform form > div .form-item {
  padding: 0 0.5rem;
}

.block-webform form > div .webform-component-textarea {
  width: 100%;
}

.block-webform form .form-text {
  max-width: 20rem;
}

.block-webform form .form-actions {
  margin-left: 0.5rem;
}

#skip a:link, #skip a:hover, #skip a:visited {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#skip a:active, #skip a:focus {
  position: static;
  width: auto;
  height: auto;
}

h1.title {
  margin: 2rem 0 1rem 0;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.front .container {
  padding: 0 1rem;
}

.front a.btn {
  text-transform: uppercase;
  font-weight: bold;
}

.front h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  line-height: normal;
}

.front h3 {
  font-weight: 300;
  font-size: 1.75rem;
  line-height: normal;
  margin-bottom: 2rem;
}

.front h4 {
  font-weight: normal;
}

.front img {
  width: 100%;
  height: auto;
}

.front .section__row {
  margin: 6rem 0 3rem 0;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (min-width: 720px) {
  .front .section__row div {
    max-width: 45%;
  }
}

.front .section-hero-banner {
  background: url(../images/optimized/front_01.png) no-repeat center;
  background-size: cover;
  min-height: 60vh;
}

.front .section-hero-banner .section-title {
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
  padding: 0 1rem;
}

.front .section-hero-banner .section-title h2 {
  color: #fff;
  text-transform: uppercase;
  margin: 2rem auto;
  max-width: 60rem;
}

.front .section-steps {
  background: #e74c3c;
  min-height: 23vh;
}

.front .section-steps .steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem 1rem 0 1rem;
}

.front .section-steps .steps div {
  margin: 1rem;
  color: #fff;
  text-align: center;
  max-width: 10rem;
  flex: 1 1 auto;
}

.front .section-steps .steps div img {
  max-height: 4rem;
}

.front .section-steps .steps div h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.front .section-steps .steps div h3 span {
  width: 100%;
  font-size: 0.85em;
  font-weight: normal;
  display: block;
}

.front .section-guarantee {
  text-align: center;
  padding: 3rem 1rem 2rem 1rem;
}

.front .section-begin {
  text-align: center;
  padding: 2rem 1rem 1rem 1rem;
  background: #eee;
}

.front .section-begin .container {
  display: flex;
}

.front .section-begin .container img {
  flex: 1 1 auto;
  width: auto;
  margin: 2rem;
}

.front .section-begin .container div {
  flex: 1 1 auto;
  width: 60%;
  text-align: left;
  padding: 2rem;
}

.front .section-gallery {
  margin-top: 3rem;
  text-align: center;
}

.front .section-gallery .full-width {
  background: url(../images/optimized/front_gallery.jpg) no-repeat center;
  background-size: cover;
  height: 50vh;
}

@media screen and (max-width: 720px) {
  .front .section-gallery .full-width {
    height: 25vh;
  }
}

.front .section-gallery .full-width a {
  display: block;
  width: 100%;
  height: 100%;
  background: center center/4rem no-repeat rgba(0, 0, 0, 0);
}

.front .section-gallery .full-width a:hover {
  background-image: url(../images/optimized/icon-select.svg);
  background-color: rgba(0, 0, 0, 0.5);
}

.front .section-tour {
  color: #eee;
  text-align: center;
  background: #323a45;
  padding: 4rem;
}

.front .section-tour h3 {
  margin: 2rem 4rem;
}

.front .section-materials {
  padding: 0 0 6rem 0;
}

ul.list-tick {
  column-count: 2;
  margin: 2rem 1rem;
}

ul.list-tick li {
  list-style: none;
  background: url(../images/optimized/icon_list_tick.png) no-repeat left;
  font-size: 1.5rem;
  line-height: 3.25rem;
  padding-left: 3rem;
  margin: 0;
}
