body {
	margin: 0;
	font-size: 16px;
	line-height: 1.5em;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.1px;
	background:#fff;
	font-weight: 300
}
a:link,
a:active,
a:visited,
button {
	color: #e74c3c;
	text-decoration: none;
	transition: all 0.3s ease;
}
a:hover{
  color: #34495e;
}
/************ 
  PAGE TOP
*************/
#page_top {	
	border-top:3px solid #e74c3c;
	border-bottom: 1px solid #e2e6e7;
}
#page_top .container {
	width:100%;
	display:flex;
	flex-wrap:wrap
}
#page_top .block {
	width:50%;
}
#page_top .menu a {
	padding-left:34px !important ;
}
.block-login .menu{
	display:flex;
}
.block-login .menu a {
	color:#e74c3c;
	text-transform:none;
	font-weight:300;
	font-size:0.9rem;
	transition: all ease-in-out .3s;
	background:5px 50% no-repeat;
}
.block-login .menu a:hover {
	/*background:5px 50% no-repeat #e74c3c;*/
	color:#323a45;
	background:5px 50% no-repeat;
	text-decoration:underline
}
.block-login .menu .my-account a {
	background-image:url(../images/optimized/icon-user-my-account.png);		
}
.block-login .menu .log-out a {
	background-image:url(../images/optimized/icon-user-log-out.png);
}
.block-login .menu .log-in a {
	background-image:url(../images/optimized/icon-user-log-in.png);
}
.block-login .menu .create-account a {
	background-image:url(../images/optimized/icon-user-create-account.png);
}

/*
KICKSRART OVERRIDES
*/
body.toolbar #toolbar-home a span {
		background: transparent url(../logo-menu-diy.png) no-repeat 0 0;
    display: block;
    min-height: 40px;
    text-indent: -9999px;
    width: 130px;
    margin: 0;
}
/*
END OF KICKSTART
*/

/*SHOPPING CART*/
.block-top-cart *,
.block-top-cart .links{
	margin:0;
	padding:0
}
.block-top-cart .line-item-quantity {
	background:url(../images/optimized/shopping-cart-2-128.png) no-repeat left;
	background-size: 30%;
	padding-left: 30px;
	margin-right:10px
}
.block-top-cart .line-item-summary{
	display:flex;
	justify-content: flex-end;
	font-size:0.7rem
}
.block-top-cart span {
	padding:0.5rem 0;
	display:inline-block
}
.line-item-summary-checkout a,
.line-item-summary-checkout a:visited {
	color:#fff;
	background:#e74c3c;
	display:inline-block;
	padding:0.5rem
	
}
.line-item-summary-checkout a:hover {
	background:#34495e
}
@media screen and (min-width: 40em) {
	#page_top .menu a {
		padding:0.6rem 0.5rem 0.5rem 32px !important ;
		line-height:1.2rem
	}
	.block-top-cart .line-item-summary{
		font-size:1rem
	}
}

/* HEADER BAR */
#header {
	clear:both;
	margin:10px 0 15px 0
}
#site-name {
	font-size: 2.2em;
	line-height: 1.3em;
	font-weight: 300;
	padding: 0 0 0.5em;
	margin: 0;
}

/************ navigation *************/
#navigation {
	background :#323a45;
}
.responsive-menu-toggle-icon {
	
}
.main-menu,
.sub-menu{
	display: flex;
	flex-flow: row wrap;
	background: #323a45;
	width:100%;
}
.sub-menu{
	background:none
}
.menu a,
.sub-menu a {
	color: #fff;
	padding: 0.5rem 0.8rem;
	display: block;
	text-transform: uppercase;
	font-size:0.8rem;
	line-height:1rem
} 
@media screen and (min-width: 40em) {
	.menu a,
	.sub-menu a {
		padding: 1rem 1.5rem;
		font-size:1rem
	}
}
.menu .active a,
.menu a:hover,
.sub-menu .active a,
.sub-menu a:hover {
	background: #e74c3c;
	color:#fff
}

body .menu li {
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.25em;
}
h1 {
	font-size: 2.2em;
	font-weight: 300;
	padding: 0 0 0.5em;
	margin: 0;
}
h2 {
	font-size: 1.8em;
	font-weight: 300;
	margin: 1.5rem 0 0.8rem 0
}
h3 {
	font-size: 1.4em;
	margin: 1.5rem 0 1rem 0
}
h4 {
	font-size: 1.2em;
	margin-bottom: 0.8em;
}
h5 {
	font-size: 1.1em;
	font-weight: 600;
	margin-bottom: 0;
}
h6 {
	font-size: 1em;
	font-weight: bold;
}
p {
	margin: 0 0 1em 0;
}
ul, ol {
	margin-left: 0;
	padding-left: 0;
}
table {
	width: 100%;
}
table.commerce-price-formatted-components tbody {
	border-top:none;
	border-bottom:2px solid #e74c3c
}
tr.even td, tr.odd td {
	padding: 10px 5px;
}
tr.odd {
	background-color: white;
}
pre, code, tt {
	font: 1em "andale mono", "lucida console", monospace;
	line-height: 1.5;
}
pre {
	background-color: #efefef;
	display: block;
	padding: 5px;
	margin: 5px 0;
	border: 1px solid #aaaaaa;
}
ul,
li,
ul li.leaf {
	list-style:none;
	margin:0;
	padding:0
}
.node .content li {
	list-style:square;
	margin-left:1rem
}
ol {
	list-style-type: decimal;
}
ol ol {
	list-style-type: lower-alpha;
}
ol ol ol {
	list-style-type: decimal;
}
abbr {
	border-bottom: 1px dotted #666666;
	cursor: help;
	white-space: nowrap;
}
#edit-title {
	font-size: 24px;
	width: 99%;
}
#system-themes-form img {
	width: 100px;
}
.form-item .description {
	font-style: italic;
	line-height: 1.2em;
	font-size: 0.8em;
	margin-top: 5px;
	color: #777777;
}
#edit-delete {
	color: #cc0000;
}
/*
MESSAGES
*/
div.messages {
	z-index:10000 !important ;
	margin:0.2rem
}
div.warning {
	color: #884400;
	background-color: #ffee66;
	border-color: #eedd55;
}
div.error,
.error li label{
	color: #fff ;
	background-color: #ee6633;
	border-color: #dd5522;
}
div.error a{
	color:#fff;
	text-decoration:underline
}
div.status {
	color: #336600;
	background-color: #ccff88;
	border-color: #bbee77;
}
/*
END - MESSAGES
*/
.current-search-item .pseudo-breadcrumb li {
	background:#f6f6f6;
	display:inline-block;
	padding:0.2rem 0.5rem;
	margin:0 0 0 0.2rem;
	font-style:italic
}
/*
BLOCKS
*/
.block .title {
	background: #323a45;
	padding: 12px 14px;
	color: #fff;
	font-weight: 100;
	font-size:18px;
	border-radius: 4px 4px 0 0
}
.block-facetapi li a{
	border-bottom: 1px solid #ecf0f1;
	display:inline-block;
	padding: 7px 25px 7px 0;
}
.profile li {
	border-radius: 4px;
	background: #f5f7f8;
	padding:1em;
	margin: 1.5em 0
}
.google-frame {
	display:block;
	height:316px;
}
.google-frame iframe{
	position:absolute;
	width:100%;
	left:0;
	height:300px
}
/*
PRODUCT DISPLAY
*/
#content-area article .grid-14,
#content-area article .grid-14 #wrap,
#content-area article .grid-14 .cloud-zoom img{
	width: 100%
}
#content-area article .cloud-zoom-gallery-thumbs {
	width:100%
}
#content-area article .cloud-zoom-gallery img{
	width:33.333%
}
.field-name-field-material-finish .form-autocomplete{
	max-width: 100%
}
/*
PRICE FIELD
*/
.page-node .field-name-commerce-price .field-items{
	font-size:1.2rem;
	padding-left:22px;
	background:url(../images/optimized/icon-tag.png) no-repeat 0 0;
	background-size:contain;
	color:#fff;
	font-weight:bold;
	position:fixed;
	bottom:2px;
	right:2px;
	z-index:1000;
	max-width:50%
}
@media screen and (min-width: 375px) {
	.page-node .field-name-commerce-price .field-items{
		bottom: 35%;;
		font-size:1.5rem
	}
}
.page-node .field-name-commerce-price .field-item{
	background-color:#e74c3c;
	padding:0.3em 0.5rem 0.4rem 12px;
	line-height:2rem;
}
.page-node .field-name-field-price-markup{
	font-size:0.8rem;
	color:#e74c3c;
	font-style:italic
}
#content-area #edit-line-item-fields fieldset.collapsed.form-wrapper{
	margin-left:10px;
	border-radius:2px;
	height:2rem !important
}
#content-area #edit-line-item-fields fieldset.form-wrapper .fieldset-legend {
	background-image:none;
	background:#fff;
	padding:4px 8px;
	border:2px solid #e74c3c;
	border-radius:4px;
	display:block;
	font-weight:700;
	margin:0 0 0 -20px;
}
#content-area #edit-line-item-fields fieldset.form-wrapper .fieldset-legend:hover {
	border-color:#34495e
}
#content-area #edit-line-item-fields fieldset.collapsed.form-wrapper .fieldset-legend{
	margin-left:-10px;
}
#edit-line-item-fields .collapsed.form-wrapper{
	border:none;
	padding:0
}

@media screen and (min-width: 40em) {
	.section-products #content-area article  {
		display:flex;
		justify-content:space-between;
		flex-wrap:wrap;
	}
	.section-products #content-area article .grid-14{
		width:49%;
	}
	.section-products #content-area article .grid-8{
		width:49%
	}
}
.grid-24 {
	width:100%
}
.form-item-attributes-field-material-finish .form-radios{
	display:flex
}
.form-item-attributes-field-material-finish .form-item{
	width:5%
}
.form-item-attributes-field-material-finish img {
	width:100%;
	height:auto
}
.form-item-attributes-field-material-finish .description-selected img {
	border: 2px solid #34495e
}
.form-select {
	max-width:100%
}

/*
ADD TO CART CONFIRMATION MESSAGE
*/
div.messages.commerce-add-to-cart-confirmation {
	background-color: #323a45;
	border:none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 2px 15px #57595a;
	-webkit-box-shadow: 0 2px 15px #57595a;
	box-shadow: 0 2px 15px #57595a;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#57595A', direction='180', strength='5');
	color: #fff;
	overflow:visible;
	padding: 0;
	position: absolute;
	z-index: 201;
	top: 25%;
	width:20rem;
	left: 0;
	right:0;
	margin:0 auto !important;
}
@media screen and (min-width: 40em) {
	div.messages.commerce-add-to-cart-confirmation {
		width:35rem;
	}
}
div.messages.commerce-add-to-cart-confirmation .message-inner .added-product-title {
	text-transform:none;
	color: #30B41D;
	font-size:1rem;
	text-align:left;
	padding:0.5rem 0.75rem
}
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper {
	background:#323a45;
	padding: 10px;
	position:absolute;
	width:40%;
	right:0;
}
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button {
	height:48%;
	opacity:0.9;
}
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.checkout {
	background-color:#30B41D
}
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.continue {
	background-color:#e74c3c
}
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button:hover,
div.messages.commerce-add-to-cart-confirmation .message-inner a.commerce-add-to-cart-confirmation-close:hover {
	opacity:1
}
div.messages.commerce-add-to-cart-confirmation .message-inner a.commerce-add-to-cart-confirmation-close {
	background:url(../images/optimized/icon-close-128.png) no-repeat 0 0;
	background-size:cover;
	display: block;
	height: 24px;
	width: 24px;
	position: absolute;
	right: -24px;
	top: -24px;
}
div.messages.commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content {
	padding:0 0.75rem
}
div.messages.commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .views-field-commerce-total {
	margin:1rem 0 0.5rem 0;
}
div.messages.commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .views-field-commerce-total span {
	margin:0.5rem 0 1rem 0;
	font-weight:bold;
	width:100%;
	font-size:1.4rem
}
.field-name-commerce-customer-shipping {
	margin-top:1rem
}
/*
END - ADD TO CART CONFIRMATION MESSAGE
*/


/*
FLEXSLIDER
*/
.flexslider  {
	border:none;
	margin:0
}	
.flex-direction-nav a {
  width: 40px;
  height: 60px;
	top:40%
}
.flex-direction-nav a:before {
	line-height:60px;
	height:60px;
	font-size:60px
}
#mat-slider .slides li {
	position:relative;
	display:block;
	cursor:pointer
}
#mat-slider .slides li img{
	height:auto
}
#mat-slider .slides li span {
	position:absolute;
	display:block;
	left:0;
	top:-100%;
	line-height:1rem;
	color:#fff;
	background:rgba(50,58,60,0.6);
	transition:all .5s ease;
	padding:0.2rem;
	font-size:0.8rem;
	height:100%;
}
#mat-slider .slides li:hover span {
	top:0;
}
.slider-item h3{
	position:relative;
	/*background: linear-gradient(to right, #3B4552, #323A45);*/
	bottom:0;
	display:block;
	padding:0.2em 0.4em;
	text-align:center;
	margin:0;
	left:0;
	font-size:2rem;
	
	font-weight:normal;
}
.flexslider .flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 4rem;
  text-align: center;
}
.front .field-name-body {
	position:relative;
	top:-9rem
}
.optionset-material-block li img {
	min-height:100px
}
.view-material-block-display .view-footer {
	border-top:4px solid #323a45
}
.view-material-block-display .view-footer p{
	background:#323a45;
	color:#fff;
	font-weight:bold;
	padding:0.25rem 1rem 0.25rem 0.5rem;
	display:inline-block
}
/*
END OF FLEXSLIDER
*/

/*
CHECKOUT PROCESS
*/
ol.inline.commerce-checkout-progress {
	color:#fff;
	margin-bottom:1rem;
}
ol.inline.commerce-checkout-progress li{
	width: auto;
	padding:0.5rem 24px;
	background:#e74c3c;
	box-sizing:border-box;
	background-size:contain;
}
ol.inline.commerce-checkout-progress li.active{
	background:url(../images/optimized/icon-checkout-arrow.png) no-repeat #fff;
	background-position: left center;
 	color:#e74c3c;
	font-size:1.1em;
	border:none;
	padding-left:36px;
	padding-right:12px
}
ol.inline.commerce-checkout-progress li.next{
	background:url(../images/optimized/icon-checkout-arrow-next.png) no-repeat -6px center #e74c3c;
	padding-left:36px;
	border-left: none;
}
ol.inline.commerce-checkout-progress li.first{
	background-image:none
}
ol.inline.commerce-checkout-progress li.visited{
	background-color:#ec6a5d
}
#content-area fieldset.form-wrapper {
	margin-top:1.5rem;
	padding:1rem
}
#content-area fieldset.form-wrapper .fieldset-legend {
	color:#e74c3c;
	margin:0.5rem
}
fieldset.checkout-buttons {
	border: none;
	margin:2rem 0 0 0
}
fieldset.checkout-buttons .button-operator {
	margin:0 0.5em
}
/*
END - CHECKOUT PROCESS
*/

/***
FOOTER
***/
#footer {
	clear:both;
	color:#bdc3c7;
	background: linear-gradient(to bottom right, #3B4552, #323A45);
	padding: 0 0 45px 0;
}
#footer .nolink {
	color: #f9f9f9;
	font-size:1.2em;
	font-weight:300
}
.block-payments ul{
	margin:25px 0 0 0;
	display:flex;
	justify-content:flex-end
}
.block-payments li{
	margin-right:0.5rem
}
.block-payments img {
	width:64px
}
/***
END - FOOTER
***/

/*
AJAX PROGRESS THROBBER OVERRIDE
*/
.ajax-progress {
  display: inline-block;
	position:relative;
	padding:0 0 0 6px
}
.ajax-progress .throbber,
#content .checkout-processing  {
  background-image:url(../images/optimized/throbber_13.gif);
	background-repeat:no-repeat;
	background-size:cover;
	position:absolute;
	left:-2px;
	top:-2px;
	display:block;
  height: 24px;
  width: 24px;
}

.how-to img {
	max-width:100%;
	height:auto;
	margin-bottom:1rem
}