/*
 |--------------------------------------------------------------------------
 | Elements
 |--------------------------------------------------------------------------
*/

/*
CRUMBS
*/
.breadcrumb {
  font-size: 0.75rem;
  color: #aaa;
  margin-top: 0.5rem;
}

/*
TABS
*/
div.tabs {
  margin: 1rem 0 0.25rem 0;
  ul.tabs {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    li {
      border: none;
      font-size: 16px;

      a {
        color: #222222;
        padding: 0.7em 1em;
        display: block;
        background-color: #ecf0f1;
        margin-right: 5px;
        border-radius: 4px 4px 0 0;
        border: none;
        &:hover {
          background-color: #34495e;
          color: #fff;
        }
      }
      .active {
        background: #34495e;
        color: #fff;
      }
    }
  }
  ul.tabs.secondary {
    margin-top: 4px;
    li a {
      font-size: 14px;
    }
  }
}

.action-links {
  margin: 0.5rem 0;
  display: flex;
  li a {
    background: $red;
    color: #fff;
    box-shadow: 0 2px 0 #c0392b;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    margin-right: 0.2rem;
    display: inline-block;
  }
}

/*
EVENT SLIDER
*/
.item-list .event-slider {
  li {
    padding: 0;
    margin: 0;
  }
  img {
    width: 100%;
    height: auto;
  }
}
/*
  END - EVENT SLIDERS
*/

.addressbook-links {
  margin: 1rem 0 3rem 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  overflow: auto;
  margin-bottom: 2rem;
  tr {
    td {
      padding: 10px 5px;
      background: #fff;
    }
  }
}

.content {
  table {
    margin: 1rem 0;
    th {
      padding: 0.5rem;
      vertical-align: text-top;
    }
    td {
      padding: 0.5rem;
      vertical-align: text-top;
      border-bottom: 1px solid #ccc;
    }
  }
}

table.commerce-price-formatted-components tbody {
  border-top: none;
  border-bottom: 2px solid #e74c3c;
}

.views-table.cols-6 td {
  vertical-align: middle;
}

.ajax-progress {
  display: inline-block;
  position: relative;
  padding: 0 0 0 6px;
}

.ajax-progress .throbber,
#content .checkout-processing {
  background-image: url(../images/optimized/throbber_13.gif);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: -2px;
  top: -2px;
  display: block;
  height: 24px;
  width: 24px;
}

.how-to img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}
.field-name-field-int-mat-select {
  .btn {
    background: #fff;
    color: $grey;
    padding: 9px 17px;
    border: 1px solid $grey !important;
    &:hover {
      background: $grey;
      color: #fff;
    }
  }
}

.book-block {
  .menu {
    padding: 0 0 0 1rem;
    margin: 0.5rem 0;
    font-size: 1.25rem;
    li {
      padding: 0 0 0.5rem 0.5rem;
      line-height: 1.75rem;
      margin: 0;
      list-style: none;
      li {
        font-size: 0.8em;
      }
      a {
        text-transform: none;
        color: $red;

        font-weight: bold;
        &:hover {
          color: #34495e;
        }
      }
    }
    .expanded > a::before {
      margin-left: -1rem;
      display: inline-block;
      width: 1rem;
      content: "-";
    }
    .collapsed > a::before {
      margin-left: -1rem;
      display: inline-block;
      width: 1rem;
      content: "+";
    }
  }
}
iframe.video-filter {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
}

.video-filter {
  position: relative;
  padding-bottom: 56%;
}

video {
  width: 100%;
  height: auto;
}

div.messages {
  z-index: 10000 !important;
  margin: 1rem 0;
}

div.warning {
  color: #884400;
  background-color: #ffee66;
  border-color: #eedd55;
}

div.error,
.error li label {
  color: #fff;
  background-color: #ee6633;
  border-color: #dd5522;
  font-weight: bold;
}

div.error a {
  color: #fff;
  text-decoration: underline;
}

div.status {
  color: #336600;
  background-color: #ccff88;
  border-color: #bbee77;
}

.notice {
  background: #e95c4d;
  color: #fff;
  padding: 1px 1rem 0.75rem 1rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
}
@media screen and (min-width: 40em) {
  .notice {
    margin: 0 0 2rem 2.5rem;
    width: 40%;
    float: right;
  }
}
.current-search-item .pseudo-breadcrumb li {
  background: #f6f6f6;
  display: inline-block;
  padding: 0.2rem 0.5rem;
  margin: 0 0 0 0.2rem;
  font-style: italic;
}

.block .title {
  background: $grey;
  padding: 12px 14px;
  color: #fff;
  font-weight: 100;
  font-size: 1.5rem;
  border-radius: 4px 4px 0 0;
}

.block-facetapi li a {
  border-bottom: 1px solid #ecf0f1;
  display: inline-block;
  padding: 7px 25px 7px 0;
}

.profile li {
  border-radius: 4px;
  background: #f5f7f8;
  padding: 1em;
  margin: 1.5em 0;
}

.google-frame {
  display: block;
  height: 316px;
  iframe {
    position: absolute;
    width: 100%;
    left: 0;
    height: 300px;
  }
}

#content-area article .grid-14,
#content-area article .grid-14 #wrap,
#content-area article .grid-14 .cloud-zoom img,
#content-area article .cloud-zoom-gallery-thumbs {
  width: 100%;
}

#content-area article .cloud-zoom-gallery img {
  width: 33.333%;
}

.field-name-field-material-finish .form-autocomplete {
  max-width: 100%;
}

.field-commerce-price {
  /*hide dislpay until a width field has value, or there are no mat fields*/
  display: none;
}

.page-node .field-name-commerce-price .field-items {
  font-size: 1.2rem;
  padding-left: 22px;
  background: url(../images/optimized/icon-tag.png) no-repeat 0 0;
  background-size: contain;
  color: #fff;
  font-weight: bold;
  position: fixed;
  bottom: 2px;
  right: 2px;
  z-index: 1000;
  max-width: 50%sd;
}

@media screen and (min-width: 375px) {
  .page-node .field-name-commerce-price .field-items {
    bottom: 35%;
    font-size: 1.5rem;
  }
}

.page-node {
  .field-name-commerce-price {
    .field-item {
      background-color: $red;
      padding: 0.3em 0.5rem 0.4rem 12px;
      line-height: 2rem;
      &:after {
        content: " *";
      }
    }
  }
  .field-name-field-price-markup {
    font-size: 0.8rem;
    color: $red;
    font-style: italic;
  }
}

#content-area {
  #edit-line-item-fields fieldset {
    .collapsed.form-wrapper {
      margin-left: 10px;
      border: none;
      padding: 0;
      height: 2rem !important;
      .fieldset-legend {
        background-image: none;
        background: #fff;
        padding: 4px 8px;
        border: 2px solid #e4e4e2;
        border-radius: 4px;
        display: block;
        font-weight: 700;
        margin: 0 0 0 -10px;
      }
    }
  }
}
.group-hinge-positions {
  padding-top: 0.5rem !important;
  .fieldset-legend {
    margin: 0 !important;
  }
}
.field-name-field-ez-hinge-category,
.field-name-field-ez-category-text,
.field-name-field-ez-hinge-text {
  display: none;
}

div.messages.commerce-add-to-cart-confirmation {
  border: none;
  color: #4a4a4a;
  .message-inner {
    .added-product-title {
      text-transform: none;
      color: #4a4a4a;
      font-size: 1.75rem;
      text-align: left;
      padding: 2rem 0 1rem 1rem;
    }
    .button-wrapper {
      font-size: 1.25rem;
      background: #eee;
      .button.checkout {
        a {
          background: $red;
          &:hover {
            background: $red-light;
          }
        }
      }
      .button.continue {
        a {
          background: $grey !important;
          &:hover {
            background: $grey-light !important;
          }
        }
      }
    }
  }
}
.field-name-commerce-customer-shipping {
  margin-top: 1rem;
}

/*
FLEXSLIDER
*/
.flexslider {
  border: none;
  margin: 0;
  .flex-direction-nav {
    a {
      width: 40px;
      height: 60px;
      top: 50%;
      &:before {
        line-height: 60px;
        height: 60px;
        font-size: 60px;
      }
    }
  }
  .flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 25px;
    text-align: center;
  }
}

.mat-slider {
  .flex-direction-nav {
    a {
      top: 30%;
    }
  }
  .slides li {
    cursor: pointer;
    height: 150px;
    span {
      display: block;
      line-height: 1rem;
      padding: 2px;
      font-size: 0.7rem;
    }
  }
}

.slider-item h3 {
  position: relative;
  bottom: 0;
  display: block;
  padding: 0.2em 0.4em;
  text-align: center;
  margin: 0;
  left: 0;
  font-size: 2rem;
  font-weight: normal;
}
// GALLERY
#colorbox {
  #cboxWrapper {
    border: none;
    background: none;

    #cboxContent {
      background: none;
      #cboxTopLeft,
      #cboxTopCenter,
      #cboxTopRight,
      #cboxMiddleLeft,
      #cboxMiddleRight,
      #cboxBottomLeft,
      #cboxBottomCenter,
      #cboxBottomRight,
      #cboxCurrent {
        display: none !important;
      }
      #cboxLoadedContent {
        background: none;
        position: relative;

        img.cboxPhoto {
          border-radius: 4px;
        }
      }
      #cboxPrevious,
      #cboxNext {
        width: 32px;
        height: 32px;
        bottom: 40px;
        background: url(../images/optimized/icon_nav_left.png) no-repeat;
        background-size: cover;
        opacity: 0.5;
      }
      #cboxPrevious:hover,
      #cboxNext:hover {
        opacity: 1;
      }
      #cboxNext {
        background-image: url(../images/optimized/icon_nav_right.png);
        left: auto;
        right: 0;
      }
      #cboxClose {
        top: 4px;
        right: 4px;
        width: 32px;
        height: 32px;
        background: url(../images/optimized/icon-close-128.png) no-repeat;
        background-size: contain;
        opacity: 0.5;
      }
      #cboxClose:hover {
        opacity: 1;
      }
    }
  }
}
.field-name-field-gallery-image {
  .field-items {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .field-item {
      flex: 1 1 auto;
      padding: 0.25rem;
      opacity: 0.85;
      transition: all ease 0.2s;
      &:hover {
        opacity: 1;
        transform: scale(1.02);
      }
      img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 4px;
      }
    }
  }
}
/*
CHECKOUT PROCESS
*/
ol.inline.commerce-checkout-progress {
  color: #999;
  margin: 2rem 0 3rem 0;
  li {
    width: auto;
    padding-bottom: 0.5rem;
    margin-right: 2rem;
  }
  li.active {
    color: $red;
    border-bottom: 2px solid $red;
    font-size: 1.75rem;
    font-style: italic;
  }
}

#content-area fieldset.form-wrapper {
  margin-top: 1.5rem;
  padding: 1rem;
  .fieldset-legend {
    color: $red;
    margin: 0.5rem;
  }
}

.page-checkout .fieldset-legend {
  font-size: 2rem;
}

fieldset.checkout-buttons {
  border: none;
  margin: 2rem 0 0 0;
  .button-operator {
    margin: 0 0.5em;
  }
}
.checkout-help {
  color: #999;
  font-weight: bold;
  font-style: italic;
  line-height: 3rem;
}

/*
END - CHECKOUT PROCESS
*/

.field-name-body {
  margin-bottom: 4rem;
}

.cta {
  position: fixed;
  bottom: 5vh;
  right: 2vw;
  z-index: 1000;
  border: 6px solid $red;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

  a {
    width: 9.5rem;
    border: 4px solid #fff;
    border-radius: 2px;
    display: block;
    background: $red-dark;
    color: #fff;
    h4 {
      margin: 0 0 0.5rem 0;
      line-height: normal;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
    }
    span {
      padding: 0 1rem;
      display: block;
      img {
        width: 90%;
        margin: 5%;
        transition: all ease 0.5s;
      }
    }
    &:hover {
      background: $red;
      border-color: $red;
    }
  }
  @media screen and (max-width: $md) {
    right: 0;

    a {
      width: 6rem;

      h4 {
        font-size: 0.85rem;
        font-weight: normal;
      }
    }
  }
}

.title-hero {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background: #666;
  margin-bottom: 2.5rem;
  background: url(../images/optimized/kitchen_01.jpg) center center / cover
    no-repeat;

  h1 {
    text-align: center;
    margin: 0 auto;
    font-size: 5rem;
    padding: 5rem 1rem 6rem 1rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    :after {
      content: "";
      position: absolute;
      left: 45%;
      bottom: 2rem;
      height: 1px;
      width: 10%; /* or 100px */
      border-bottom: 0.5rem solid #fff;
    }
    span {
      color: $red;
    }
  }
}
.title-products {
  background-image: url(../images/optimized/heros/kitchen_01.jpg);
}
.title-how-it-works {
  background-image: url(../images/optimized/heros/kitchen_01.jpg);
}
.title-free-planner {
  background-image: url(../images/optimized/heros/kitchen_01.jpg);
}
.title-why-us {
  background-image: url(../images/optimized/heros/kitchen_01.jpg);
}
.title-gallery {
  background-image: url(../images/optimized/heros/kitchen_01.jpg);
}
.title-materials {
  background-image: url(../images/optimized/heros/kitchen_01.jpg);
}
.title-about {
  background-image: url(../images/optimized/heros/kitchen_01.jpg);
}
.title-factory {
  background-image: url(../images/optimized/heros/kitchen_01.jpg);
}
.title-products {
  background-image: url(../images/optimized/heros/kitchen_01.jpg);
}

// HOWE IT WORKS
.how-works {
  display: flex;
  margin: 2rem 0;
  align-items: flex-start;
  img {
    flex: 1 1 auto;
    width: 25%;
  }
  div {
    width: 75%;
    flex: 1 1 auto;
    padding: 0.5rem 0 0 2rem;
    h2 {
      margin-top: 0;
    }
  }
}
