/*
 |--------------------------------------------------------------------------
 | Header
 |--------------------------------------------------------------------------
*/
.cabtek-menu {
  ul {
    display: flex;
    background: #323a45;
    width: 100%;
    li {
      padding: 0;
      margin: 1px;
    }
    a {
      color: #fff;
      background: #34495e;
      padding: 0.5rem 0.75rem;
      display: block;
      &hover {
        background: #e74c3c;
      }
    }
  }
}

#header {
  background: #fff;
}
.block-login {
  .menu {
    padding: 0.25rem;
    border-bottom: none;
    li {
      display: inline-block;
      a {
        color: #e74c3c;
        text-transform: none;
        display: block;
        line-height: 2rem;
        font-weight: 300;
        font-size: 0.8rem;
        padding-left: 34px;
        transition: all ease-in-out 0.3s;
        background: 5px 50% no-repeat;
        &:hover {
          color: #323a45;
          background: 5px 50% no-repeat;
          text-decoration: underline;
        }
      }
    }
  }
}
#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

#logo {
  margin-top: 0.5em;
  width: 100%;
  display: block;
  color: #e74c3c;
  span {
    font-size: 64px;
    font-weight: bold;
    color: #e74c3c;
  }
  #logo-sub {
    font-size: 32px;
    display: inline-block;
    font-weight: normal;
  }
}

#page_top {
  border-top: 3px solid #e74c3c;
  border-bottom: 1px solid #e2e6e7;
  .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .block {
    width: 100%;
  }
}

@media screen and (min-width: 40em) {
  #page_top .block {
    width: 50%;
  }
}

.block-login .menu {
  padding-left: 0.25rem;
  border-bottom: 1px solid #e2e6e7;
  li {
    display: inline-block;
    a {
      color: #e74c3c;
      text-transform: none;
      display: block;
      line-height: 2rem;
      font-weight: 300;
      font-size: 0.8rem;
      padding-left: 34px;
      transition: all ease-in-out 0.3s;
      background: 5px 50% no-repeat;
      &:hover {
        color: #323a45;
        background: 5px 50% no-repeat;
        text-decoration: underline;
      }
    }
  }
  .my-account a {
    background-image: url(../images/optimized/icon-user-my-account.png);
  }
  .log-out a {
    background-image: url(../images/optimized/icon-user-log-out.png);
  }
  .log-in a {
    background-image: url(../images/optimized/icon-user-log-in.png);
  }
  .create-account a {
    background-image: url(../images/optimized/icon-user-create-account.png);
  }
}

@media screen and (min-width: 40em) {
  .block-login .menu {
    padding: 0;
    border-bottom: none;
  }
}

.block-top-cart {
  * {
    margin: 0;
  }
  line-height: 2.5rem;
  .view-footer {
    display: flex;
    justify-content: flex-end;
  }
  .line-item-quantity {
    background: url(../images/optimized/shopping-cart-2-128.png) no-repeat left;
    background-size: 30%;
    padding-left: 30px;
    margin-right: 10px;
  }
  .line-item-summary div {
    float: none;
    display: inline-block;
    margin-right: 0.5rem;
  }
  a {
    color: #fff;
    background: #e74c3c;
    display: block;
    padding: 0 0.5rem;
    font-weight: bold;
    &:hover {
      background: #34495e;
    }
    span {
      font-weight: normal;
      font-size: 90%;
    }
  }
}

body.toolbar #toolbar-home a span {
  background: transparent url(../logo-menu-diy.png) no-repeat 0 0;
  display: block;
  min-height: 40px;
  text-indent: -9999px;
  width: 130px;
  margin: 0;
}
.header-second,
.header-third {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-third .block-views {
  flex: 1 1 auto;
  max-width: 480px;
}
.search-top .views-exposed-widgets {
  display: flex;
  .views-exposed-widget {
    padding: 0.5rem 0 0 0.5rem;
  }
  .form-submit {
    margin: 0 !important;
  }
  #edit-search-api-views-fulltext-wrapper,
  .form-text {
    width: 100%;
  }
}

#navigation {
  background: #323a45;
  display: block;
  margin-top: 1.25rem;
  height: 3.5rem;
  li {
    .menuparent {
      padding: 0.5rem 1.5rem 0.5rem 1rem;
    }
  }
  a {
    background: #323a45;
    color: #fff;
    padding: 0.5rem 1rem;
    display: block;
    line-height: 2.5rem;

    &:hover {
      background: #e74c3c;
    }
    .sf-sub-indicator {
      right: 0.5rem;
      top: 1.25rem;
    }
  }
  ul {
    text-transform: uppercase;
    li {
      list-style: none;
    }
    ul {
      text-transform: none;
      top: 3.5rem;
      a {
        border-top: 1px solid #3b4452;
      }
    }
  }
}

.sf-accordion-toggle a {
  font-weight: bold;
  font-size: 2rem;
}
