/*
 |--------------------------------------------------------------------------
 | Header
 |--------------------------------------------------------------------------
*/
#header {
  background: #fff;
}
.header-first {
  //ADMIN MENU
  .cabtek-menu {
    ul {
      display: flex;
      flex-wrap: wrap;
      background: #323a45;
      width: 100%;
      padding-bottom: 4px;
      li {
        padding: 0;
        margin: 4px 0 0 4px;
        list-style: none;
      }
      a {
        color: #fff;
        background: #34495e;
        padding: 0.2rem 0.5rem;
        display: block;
        border-radius: 4px;
        &:hover {
          background: #e74c3c;
        }
      }
    }
  }
}
.header-second {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .block-login {
    .menu {
      padding: 0.5rem 0.25rem 0.25rem 0.35rem;
      border-bottom: none;
      display: flex;
      li {
        list-style: none;
        a {
          color: #fff;
          background: #3b536b;
          font-weight: bold;
          text-transform: none;
          display: block;
          padding: 0rem 0.75rem;
          margin-right: 2px;
          border-radius: 4px;
          font-size: 0.85rem;
          &:hover {
            background: #263545;
            color: #fff;
          }
        }
      }
    }
  }
  .block-top-cart {
    * {
      margin: 0;
    }
    line-height: 2.5rem;
    .view-footer {
      display: flex;
      justify-content: flex-end;
    }
    .line-item-quantity {
      background: url(../images/optimized/shopping-cart-2-128.png) no-repeat
        left;
      background-size: 30%;
      padding-left: 30px;
      margin-right: 10px;
    }
    .line-item-summary div {
      float: none;
      display: inline-block;
      margin-right: 0.5rem;
    }
    a {
      color: #fff;
      background: #e74c3c;
      display: block;
      padding: 0.5rem 0.5rem 0 0.5rem;
      font-weight: bold;
      line-height: 1.5rem;
      text-align: center;
      border-radius: 0 0 4px 4px;
      &:hover {
        background: #34495e;
      }
      span {
        font-weight: normal;
        font-size: 90%;
      }
    }
  }
}

.header-third {
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  #logo {
    margin: 0.25rem;
  }
  .search-top {
    flex: 1 1 auto;
    .views-exposed-widgets {
      display: flex;
      font-size: 1.25rem;
      .views-exposed-widget {
        padding: 0.5rem 0 0 0.5rem;
      }
      .form-submit {
        margin: 0 !important;
      }
      #edit-search-api-views-fulltext-wrapper,
      .form-text {
        width: 100%;
      }
    }
  }
}

#navigation {
  background: #323a45;
  margin-top: 0.5rem;
  display: block;
  height: 3rem;
  li {
    .menuparent {
      padding: 0.25rem 1.5rem 0.25rem 1rem;
    }
  }
  a {
    background: #323a45;
    color: #fff;
    padding: 0.25rem 1rem;
    display: block;
    line-height: 2.5rem;

    &:hover {
      background: #e74c3c;
    }
    .sf-sub-indicator {
      right: 0.5rem;
      top: 1.1rem;
    }
  }
  ul {
    text-transform: uppercase;
    li {
      list-style: none;
    }
    ul {
      text-transform: none;
      top: 3rem;
      a {
        border-top: 1px solid #3b4452;
        padding: 0 1rem;
      }
    }
  }
}
.sf-accordion-toggle a {
  font-weight: bold;
  font-size: 2rem;
}

#page_top {
  border-top: 3px solid #e74c3c;
  border-bottom: 1px solid #e2e6e7;
  .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .block {
    width: 100%;
  }
}

body.toolbar #toolbar-home a span {
  background: transparent url(../logo-menu-diy.png) no-repeat 0 0;
  display: block;
  min-height: 40px;
  text-indent: -9999px;
  width: 130px;
  margin: 0;
}
