/*
 |--------------------------------------------------------------------------
 | Layout
 |--------------------------------------------------------------------------
*/

.container {
  max-width: 78rem;
  margin: 0 auto;
  width: auto;
}

#content {
  padding: 0 1rem;
  min-height: 20rem;
}

.container-24 {
  margin-bottom: 1rem;
}

.block-gallery {
  width: 99.5vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 2rem -50vw 0 -50vw;
}

@media screen and (min-width: 45em) {
  .container-24 {
    margin-bottom: 2rem;
  }

  .no-sidebars {
    #content {
      float: left;
      display: block;
      margin-right: 3.22581%;
      width: 100%;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .flex-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .col-4 {
    width: 24%;
    margin: 0 1% 1% 0;
  }
}

@media screen and (min-width: 60em) {
  .no-sidebars #content {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 100%;
    &:last-child {
      margin-right: 0;
    }
  }
}

.no-sidebars #content {
  width: 100%;
}

.one-sidebar.sidebar-second #content {
  width: 100%;
}

@media screen and (min-width: 45em) {
  .one-sidebar.sidebar-second #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 74.19355%;
    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 60em) {
  .one-sidebar.sidebar-second #content {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 65.95745%;
    &:last-child {
      margin-right: 0;
    }
  }
}
.one-sidebar.sidebar-first #content {
  width: 100%;
}

@media screen and (min-width: 45em) {
  .one-sidebar.sidebar-first #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 74.19355%;
    margin-left: 25.80645%;
    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 60em) {
  .one-sidebar.sidebar-first #content {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 74.46809%;
    margin-left: 25.53191%;
    &:last-child {
      margin-right: 0;
    }
  }
}

.two-sidebars #content {
  width: 100%;
}

@media screen and (min-width: 45em) {
  .two-sidebars #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 48.3871%;
    margin-left: 25.80645%;
    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 60em) {
  .two-sidebars #content {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 40.42553%;
    margin-left: 25.53191%;
    &:last-child {
      margin-right: 0;
    }
  }
}

#sidebar-first {
  width: 100%;
}

@media screen and (min-width: 45em) {
  #sidebar-first {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 22.58065%;
    margin-left: -77.41935%;
    padding-top: 1rem;
    &:last-child {
      margin-right: 0;
    }
    #sidebar-first {
      margin-left: -103.22581%;
    }
  }
}

@media screen and (min-width: 60em) {
  #sidebar-first {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 23.40426%;
    margin-left: -68.08511%;
    &:last-child {
      margin-right: 0;
    }
    #sidebar-first {
      margin-left: -102.12766%;
    }
  }
}

#sidebar-second {
  width: 100%;
}

@media screen and (min-width: 45em) {
  #sidebar-second {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 22.58065%;
    margin-left: 0%;
    padding-top: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 60em) {
  #sidebar-second {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 31.91489%;
    margin-left: 0%;
    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 40em) {
  .section-products #content-area article {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .grid-14 {
      width: 49%;
    }
    .grid-8 {
      width: 49%;
    }
  }
}

.grid-24 {
  width: 100%;
}
