@import "base";
@import "typography";
@import "layout";
@import "header";
@import "views";
@import "forms";
@import "elements";
@import "footer";

#skip a {
  &:link,
  &:hover,
  &:visited {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
  }
}
